form.cadastro > div.last-input {
    display: flex;
    font-size: 45px;
}

form.cadastro > div.last-input span {
    margin: 0 30px;
}

form.cadastro > div.last-input input {
    width: 60%;
    
}

form.cadastro div.link-login {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    line-height: 30px;
}