
form.recurso > div.last-input {
    display: flex;
    font-size: 45px;
}

form.recurso > div.last-input span {
    margin: 0 30px;
}

form.recurso > div.last-input input {
    width: 60%;
    
}

.recurso .superior {
    display: flex;
    align-items: center;
}

.recurso .superior a {
    width: 40px;
    /* border: 1px solid red; */
    transition: filter 0.1s;
}

.recurso .superior a:hover {
    filter: contrast(300%);
}